version: '3.8'

services:
  # Our Database Service
  db:
    image: postgres:16
    container_name: mlops-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: fraud_detection
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Our Inference Service (The API)
  api:
    build: .
    container_name: mlops-api
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:
