version: '3.8'

services:
  db:
    image: postgres:16
    # Docker replaces ${PROJECT_NAME} with 'fraud_detector' from your .env
    container_name: ${PROJECT_NAME}-db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Our Inference Service (The API)
  api:
    build: .
    container_name: mlops-api
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:
